@{
    ViewData["Title"] = "Shop";
}

<div class="text-center">
    <h1 class="display-4">Dobro došli na naš Boks web-shop</h1>
</div>
<div class="text-center">
    <div class="list-group-item">
        <div class="text-lg-center">
            <a asp-controller="Adidas" asp-action="ListAdidas" class="list-group-item">Proizvodi Adidas</a>
            <a asp-controller="Pride" asp-action="ListPride" class="list-group-item">Proizvodi Pride</a>
            <a asp-controller="Home" asp-action="About" class="list-group-item">O nama</a>
            <a asp-controller="Login" asp-action="Login" class="list-group-item">Login</a>
        </div>
    </div>
</div>

