@model List<Pride>
@{ ViewBag.Title = "Proizvodi Pride"; }

<h1>Proizvodi Pride</h1>
<br />
<div class="col-sm-10">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Naziv proizvoda</th>
                <th>Cijena proizvoda</th>
                <th>Veličina proizvoda</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
